# Generate with: openssl rand -base64 36 | tr -d '\n'
PG_PASS=

# Generate with: openssl rand -base64 60 | tr -d '\n'
AUTHENTIK_SECRET_KEY=

# Ports (defaults)
AUTHENTIK_PORT_HTTP=9000
AUTHENTIK_PORT_HTTPS=9443
