# Authentik SSO Configuration
VITE_AUTHENTIK_ISSUER_URL=http://localhost:9000/application/o/widyatama/
VITE_AUTHENTIK_CLIENT_ID=fe-dosen
VITE_AUTHENTIK_CLIENT_SECRET=your-client-secret

# API URLs
VITE_API_NILAI_URL=http://localhost:3001
VITE_API_KEHADIRAN_URL=http://localhost:3002
VITE_API_IDENTITY_URL=http://localhost:3003
