# Authentik Configuration
VITE_AUTHENTIK_ISSUER_URL=http://localhost:9000/application/o/widyatama/
VITE_AUTHENTIK_CLIENT_ID=fe-identity
VITE_AUTHENTIK_CLIENT_SECRET=your-client-secret

# API URLs (for future use)
VITE_API_IDENTITY_URL=http://localhost:3003
